@page "/Account/AccessDenied"

<PageTitle>AccessDenied</PageTitle>

<header>
    <h1 class="text-danger">AccessDenied</h1>
    <p class="text-danger">You do not have access to this page.</p>
</header>
